<div class="container-fluid about-top top-50">
  <div class="row">
    <a href="">
      <%= image_tag('about-back-bg.png') %>
    </a>
  </div>
</div>

<div class="container">
  <div class="web-about-company top-50">
    <h1 class="web-title">ABOUT COMPANY</h1>
    <h4 class="web-subtitle">关于公司</h4>

    <div class="row about-company">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag('company-logo.jpg') %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="hidden-xs">上海瑞腾广告成立于2000年，由4A广告人管理，2005年扩展代理及加工制作业务，我们有长久且关系良好的合作伙伴及自己的加工生产基地。多年来我们始终致力于广告、空间、道具、会展、PR活动及礼品的设计制作推广，更精准有效的将客户品牌力延伸至更多传播渠道，努力成为专业的品牌线下视觉传播系统专家</p>
        <p class="visible-xs">上海瑞腾广告成立于2000年，由4A广告人管理，2005年扩展代理及加工制作业务，我们有长久且关系良好的合作伙伴及自己的加工生产基地。多年来我们始终致力于广告、空间、道具、会展、PR活动及礼品的设计制作推广，更精准有效的将客户品牌力延伸至更多传播渠道，努力成为专业的品牌线下视觉传播系统专家</p>
      </div>
    </div>
  </div>

  <div class="web-grouth top-50">
    <h1 class="web-title">GROUTH</h1>
    <h4 class="web-subtitle">成长经历</h4>

    <div class="tab-switch js-tab-switch">
      <div class="row about-content-top">
        <div data-name='#chu' class="col-xs-4 col-5 item active"><span></span><i></i></div>
        <div data-name="#ben" class="col-xs-4 col-5 item"><span></span><i></i></div>
        <div data-name="#jin" class="col-xs-4 col-5 item"><span></span><i></i></div>
        <div data-name="#bian" class="col-xs-4 col-5 item"><span></span><i></i></div>
        <div data-name="#wei" class="col-xs-4 col-5 item"><span></span><i></i></div>
      </div>

      <div class="about-content-wrap">
        <div id='chu' class="about-content active">
          <h5>2001年</h5>
          <h5>渴望自由，同事堕落于欲望的</h5>
          <h5>奢华，于是我们......</h5>
        </div>
        <div id='ben' class="about-content">
          <h5>2002年</h5>
          <h5>有些小钱，不幸欲望开始升</h5>
          <h5>级，继续日夜奋斗，我们白天</h5>
          <h5>不懂夜的黑</h5>
        </div>
        <div id='jin' class="about-content">
          <h5>2003年</h5>
          <h5>一半是海水，一半是火焰；我</h5>
          <h5>们没有确定的家和没有确定的</h5>
          <h5>公司，我们浮欲流转</h5>
        </div>
        <div id='bian' class="about-content">
          <h5>2004年</h5>
          <h5>外面的世界很精彩，我们要只</h5>
          <h5>手摘星......</h5>
        </div>
        <div id='wei' class="about-content">
          <h5>2005年</h5>
          <h5>手里有牌，但不多，欲望叫我们</h5>
          <h5>向前，我们开始学习斟酌出牌</h5>
        </div>
        <div id="tong" class="about-content">
          <h5>2006年</h5>
          <h5>沉浮，沉浮，我们的浮世如绘，我们精神地痛，但仍物质</h5>
          <h5>地快乐着......</h5>
        </div>
        <div id="yang" class="about-content">
          <h5>2007年</h5>
          <h5>To Be or Nor TO Be, that's the</h5>
          <h5>question!</h5>
        </div>
        <div id="wu" class="about-content">
          <h5>2008年</h5>
          <h5>08年是所有中国人悲喜交加的一</h5>
          <h5>年，见到生命的起伏都能感悟。</h5>
          <h5>佛云：慈是予乐，悲是拔苦，在坦荡</h5>
          <h5>中，普度我们的人生......</h5>
        </div>
        <div id="ju" class="about-content">
          <h5>2009年</h5>
          <h5>聚合新的力量，固本培元。光</h5>
          <h5>彩更新人生......</h5>
        </div>
        <div id="meng" class="about-content">
          <h5>2010年</h5>
          <h5>不知道人生有多少个十年，更不</h5>
          <h5>知道人生有多少个梦，有梦就有</h5>
          <h5>希望，希望未来不是梦......</h5>
        </div>
      </div>

      <div class="row about-content-bottom">
        <div data-name='#tong' class="col-xs-4 col-5 item"><span></span><i></i></div>
        <div data-name='#yang' class="col-xs-4 col-5 item"><span></span><i></i></div>
        <div data-name='#wu' class="col-xs-4 col-5 item"><span></span><i></i></div>
        <div data-name='#ju' class="col-xs-4 col-5 item"><span></span><i></i></div>
        <div data-name='#meng' class="col-xs-4 col-5 item"><span></span><i></i></div>
      </div>
    </div>

    <div class="container text-center">
      <h5>未来为盼</h5>
      <h5>无知，无知，我们的仕途无知</h5>
      <h5>无限，无线，我们的欲望无限</h5>
      <h5>我们仍孤单向前，寻找我们心中的‘桃花源’</h5>
    </div>
  </div>

  <div class="web-values top-50">
    <h1 class="web-title">VALUES</h1>
    <h4 class="web-subtitle">价值观</h4>

    <div class="row bottom-imgs top-50">
      <div class="about-bottom-img about-bottom-img1 col-xs-3 col-sm-3 col-xs-3">
        <%= image_tag('about-bottom-1.jpg') %>
      </div>
      <div class="about-bottom-img about-bottom-img2 col-xs-3 col-sm-3 col-xs-3">
        <%= image_tag('about-bottom-2.jpg') %>
      </div>
      <div class="about-bottom-img about-bottom-img3 col-xs-3 col-sm-3 col-xs-3">
        <%= image_tag('about-bottom-3.jpg') %>
      </div>
      <div class="about-bottom-img about-bottom-img4 col-xs-3 col-sm-3 col-xs-3">
        <%= image_tag('about-bottom-4.jpg') %>
      </div>
    </div>

  </div>
</div>