<ul class="container web-ad-list">
  <li>
    <a>
      <%= image_tag('case-project-1.jpg') %>
      <h4>TRIDIMENSIONAL</h4>
      <h5>空间</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-2.jpg') %>
      <h4>PRODUCTION</h4>
      <h5>广告</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-3.jpg') %>
      <h4>ADVERTISING</h4>
      <h5>视频</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-4.jpg') %>
      <h4>PREMIUM</h4>
      <h5>活动</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-5.jpg') %>
      <h4>GIFT</h4>
      <h5>礼品</h5>
    </a>
  </li>
</ul>


<div class="container padding-reset-lr video-content">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag('case-video-tip-1.jpg') %>
    </div>
    <div class="col-sm-8">
      <a href="">
        <%= image_tag('case-video-play-1.jpg') %>
        <%= image_tag('case-video-play.png', class:"video-play") %>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <a href="">
        <%= image_tag('case-video-play-2.jpg') %>
        <%= image_tag('case-video-play.png', class:"video-play") %>
      </a>
    </div>
    <div class="col-sm-4">
      <%= image_tag('case-video-tip-2.jpg') %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= image_tag('case-video-tip-3.jpg') %>
    </div>
    <div class="col-sm-8">
      <a href="">
        <%= image_tag('case-video-play-3.jpg') %>
        <%= image_tag('case-video-play.png', class:"video-play") %>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <a href="">
        <%= image_tag('case-video-play-4.jpg') %>
        <%= image_tag('case-video-play.png', class:"video-play") %>
      </a>
    </div>
    <div class="col-sm-4">
      <%= image_tag('case-video-tip-4.jpg') %>
    </div>
  </div>
</div>




<%= render "web/application/footer" %>