<ul class="container web-ad-list">
  <li>
    <a>
      <%= image_tag('case-project-1.jpg') %>
      <h4>TRIDIMENSIONAL</h4>
      <h5>空间</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-2.jpg') %>
      <h4>PRODUCTION</h4>
      <h5>广告</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-3.jpg') %>
      <h4>ADVERTISING</h4>
      <h5>视频</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-4.jpg') %>
      <h4>PREMIUM</h4>
      <h5>活动</h5>
    </a>
  </li>
  <li>
    <a>
      <%= image_tag('case-project-5.jpg') %>
      <h4>GIFT</h4>
      <h5>礼品</h5>
    </a>
  </li>
</ul>

<div class="container web-container pic-wrap2 pic-top">
  <a class="pic-link pic-a"><%= image_tag('pic2_wrap2_a.jpg') %></a>
  <a class="pic-link pic-b"><%= image_tag('pic2_wrap2_b.jpg') %></a>
  <a class="pic-link pic-c"><%= image_tag('pic2_wrap2_c.jpg') %></a>
  <a class="pic-link pic-d"><%= image_tag('pic2_wrap2_d.jpg') %></a>
  <a class="pic-link pic-e"><%= image_tag('pic2_wrap2_e.jpg') %></a>
  <a class="pic-link pic-f"><%= image_tag('pic2_wrap2_f.jpg') %></a>
</div>

<div class="container-fluid web-container pic-wrap1">
  <a class="pic-link pic-a"><%= image_tag('pic2_wrap1_a.jpg') %></a>
  <a class="pic-link pic-b"><%= image_tag('pic2_wrap1_b.jpg') %></a>
  <a class="pic-link pic-c"><%= image_tag('pic2_wrap1_c.jpg') %></a>
  <a class="pic-link pic-d"><%= image_tag('pic2_wrap1_d.jpg') %></a>
  <a class="pic-link pic-e"><%= image_tag('pic2_wrap1_e.jpg') %></a>
  <a class="pic-link pic-f"><%= image_tag('pic2_wrap1_f.jpg') %></a>
  <a class="pic-link pic-g"><%= image_tag('pic2_wrap1_g.jpg') %></a>
  <a class="pic-link pic-h"><%= image_tag('pic2_wrap1_h.jpg') %></a>
  <a class="pic-link pic-i"><%= image_tag('pic2_wrap1_i.jpg') %></a>
  <a class="pic-link pic-j"><%= image_tag('pic2_wrap1_j.jpg') %></a>
  <a class="pic-link pic-k"><%= image_tag('pic2_wrap1_k.jpg') %></a>
</div>

<div class="container-fluid web-container pic-wrap3 pic-top">
  <a class="pic-link pic-a"><%= image_tag('pic2_wrap3_a.jpg') %></a>
  <a class="pic-link pic-b"><%= image_tag('pic2_wrap3_b.jpg') %></a>
  <a class="pic-link pic-c"><%= image_tag('pic2_wrap3_c.jpg') %></a>
  <a class="pic-link pic-d"><%= image_tag('pic2_wrap3_d.jpg') %></a>
  <a class="pic-link pic-e"><%= image_tag('pic2_wrap3_e.jpg') %></a>
  <a class="pic-link pic-f"><%= image_tag('pic2_wrap3_f.jpg') %></a>
  <a class="pic-link pic-g"><%= image_tag('pic2_wrap3_g.jpg') %></a>
</div>

<%= render "web/application/footer" %>