<div class="container top-50">
  <div class="row">
    <h1 class="web-title">GET IN TOUCH</h1>
    <h4 class="web-subtitle">取得联系</h4>
  </div>
  <div class="row three-col-img-and-word">
    <div class="col-sm-4">
      <%= image_tag('contact-phone.png') %>
      <h3>+86(21)34240751</h3>
    </div>
    <div class="col-sm-4">
      <%= image_tag('contact-email.png') %>
      <h3>return@vip.163.com</h3>
    </div>
    <div class="col-sm-4">
      <%= image_tag('contact-print.png') %>
      <h3>+86(21)54248078</h3>
    </div>
  </div>
  <div class="row map-and-img-and-word hidden-xs">
    <div class="col-sm-6 text-right left">
      <%= image_tag('map.jpg') %>
    </div>
    <div class="col-sm-offset-1 col-sm-5 right">
      <%= image_tag('contact-map.png') %>
      <h4>上海市零陵路899号</h4>
      <h4>飞舟国际大厦21楼M座</h4>
    </div>
  </div>
  <div class="row map-and-img-and-word-xs visible-xs">
    <div class="col-xs-12">
      <%= image_tag('map.jpg', class: 'map') %>
    </div>
    <div class="col-xs-12 text-center">
      <%= image_tag('contact-map.png', class: 'map-tag') %>
      <h4>上海市零陵路899号</h4>
      <h4>飞舟国际大厦21楼M座</h4>
    </div>
  </div>
</div>

<div class="container-fluid infos">
  <div class="container">
    <div class="row col-sm-offset-2 col-sm-8">
      <%= image_tag('contact-info.png') %>
    </div>
  </div>
</div>

<div class="container words">
  <div class="row text-center">
    <h2>那么······</h2>
  </div>
  <div class="row words-two">
    <h1>Join Us</h1>
    <h3>加入我们吧</h3>
  </div>
  <div class="row jobs">
    <div class="col-sm-6 text-center">
      <h5>平面设计</h5>
    </div>
    <div class="col-sm-6 text-center">
      <h5>资深AE</h5>
    </div>
    <div class="col-sm-6 text-center">
      <h5>三维设计</h5>
    </div>
    <div class="col-sm-6 text-center">
      <h5>平面设计实习生</h5>
    </div>
    <div class="col-sm-6 text-center">
      <h5>AE实习生</h5>
    </div>
  </div>
  <div class="row text-center">
    <h4>广告路上谁与共，沧海一声笑新程</h4>
  </div>
</div>