<div id="myCarousel" class="carousel slide web-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active">
      <div class="dot"></div>
    </li>
    <li data-target="#myCarousel" data-slide-to="1">
      <div class="dot"></div>
    </li>
    <li data-target="#myCarousel" data-slide-to="2">
      <div class="dot"></div>
    </li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("ad1.jpg") %>
    </div>
    <div class="item">
      <%= image_tag('ad1.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('ad1.jpg') %>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <%= image_tag('left.png') %>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <%= image_tag('right.png') %>
  </a>
</div>


<div class="web-case">
  <h1 class="web-title">CASE</h1>
  <h4 class="web-subtitle">成功案例</h4>
  <div id="myCarousel1" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <ul>
          <li>
            <a>
              <%= image_tag('case-13.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-12.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-11.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-10.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-9.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-8.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-7.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-6.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-5.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-4.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-3.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-2.png') %>
            </a>
          </li>
          <li>
            <a styles='z-index: 999;'>
              <%= image_tag('case-1.png') %>
            </a>
          </li>
        </ul>
      </div>
      <div class="item">
        <ul>
          <li>
            <a>
              <%= image_tag('case-23.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-22.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-21.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-20.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-19.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-18.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-17.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-16.png') %>
            </a>
          </li>
          <li>
            <a>
              <%= image_tag('case-15.png') %>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
      <span></span>
    </a>
    <a class="carousel-control right" href="#myCarousel1" data-slide="next">
      <span></span>
    </a>
  </div>
</div>
