<div id="myCarousel" class="carousel slide web-carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active">
      <div class="dot"></div>
    </li>
    <li data-target="#myCarousel" data-slide-to="1">
      <div class="dot"></div>
    </li>
    <li data-target="#myCarousel" data-slide-to="2">
      <div class="dot"></div>
    </li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("ad1.jpg") %>
    </div>
    <div class="item">
      <%= image_tag('ad1.jpg') %>
    </div>
    <div class="item">
      <%= image_tag('ad1.jpg') %>
    </div>
  </div>
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <%= image_tag('left.png') %>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <%= image_tag('right.png') %>
  </a>
</div>

<div class="container">
  <div class="web-case">
    <h1 class="web-title">CASE</h1>
    <h4 class="web-subtitle">成功案例</h4>
    <%= render "web/application/lunbo" %>
  </div>

  <div class="web-categories js-height">
    <div class="l">
      <a>
        <%= image_tag('class1.jpg') %>
        <dev class="mask"></dev>
        <dev class="text-wrap">
          <span>TRIDIMENSIONAL</span>
          <label>空间</label>
        </dev>
      </a>
      <a>
        <%= image_tag('class2.jpg') %>
        <dev class="mask"></dev>
        <dev class="text-wrap">
          <span>PRODUCTION</span>
          <label>平面</label>
        </dev>
      </a>
    </div>
    <div class="r">
      <a href="./case-video.html">
        <%= image_tag('class3.jpg') %>
        <dev class="mask"></dev>
        <dev class="text-wrap">
          <span>ADVERTISING</span>
          <label>视频</label>
        </dev>
      </a>
      <a>
        <%= image_tag('class4.jpg') %>
        <dev class="mask"></dev>
        <dev class="text-wrap">
          <span>PREMIUM</span>
          <label>活动</label>
        </dev>
      </a>
      <a>
        <%= image_tag('class5.jpg') %>
        <dev class="mask"></dev>
        <dev class="text-wrap">
          <span>PREMIUM</span>
          <label>礼品</label>
        </dev>
      </a>
    </div>
  </div>
</div>
