<!DOCTYPE html>
<html>
  <head>
    <title>ReturnWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= html_body_classes %>">
    <%= render "header" %>
    <%= yield %>
    <%= render "footer" %>
    <%= javascript_include_tag 'application' %>
    <%= yield :page_js %>
  </body>
</html>
